/*----------------------------------
  General Formatting
----------------------------------*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


body{
  text-align: center;
}

header,
footer {
  background: yellow;
}

.quoteButton {
  background: yellow;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

p {
    margin-bottom: 0;
}

#quoteBox {
  border: 3px solid #000;
  margin: 30px auto 50px;
  transition: all 1s;
  font-size: 4rem;
  padding-bottom; 0;
}
